---
import "./blog-styles.css";
import {Content as Post} from "./import-maps.md";

import Layout from '../../layouts/Layout.astro';
import BlogNav from '../../components/BlogNav.astro';

---

<BlogNav />

<Layout>
	<main>
		<h1>Buildless workflow through <span class="text-gradient">Import Maps</span></h1>

        <div class="blog-text">
        <Post />
        </div>
	</main>
</Layout>
