---
import "./blog-styles.css";

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import SubPageNav from "../../components/SubPageNav.astro";
---

<Layout>

    <SubPageNav />

	<main>
		<h1><span class="text-gradient">Blog</span></h1>
		<p class="instructions">
            I occasionnally write about my thoughts on tech and working around it.
        </p>


		<ul role="list" class="link-card-grid">
			<Card
				href="event-based-state"
				title="Event based state management or 'you might not need a state management library'."
				body="Let's build a standards based state management system utilizing the Events API"
			/>
			<Card
				href="import-maps"
				title="Buildless workflow through import maps"
				body="(featuring Lit, Shoelace and more)"
			/>
			<Card
				href="new-site"
				title="New homepage"
				body="New site, new me"
			/>
		</ul>
	</main>
</Layout>
