---
import "./base-styles.css";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<main>
		<h1>It's me, <span class="text-gradient">Matsu</span></h1>
		<p class="instructions">
        I'm a Senior Software Developer working around various web technologies.
        </p>
		<p class="instructions">
        My dayjob rotates around Java and Javascript
        but my <a target="_blank" href="https://github.com/Matsuuu">open source</a> endeavours contain web component projects and general developer tooling. 
        </p>
		<p class="instructions">
        I love working around different technologies and share my experiences through speaking at meetups and conferences.
        </p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/blog"
				title="Blog"
				body="Occasional brain dumps"
			/>
			<Card
				href="/speaking"
				title="Speaking"
				body="Information on my presentations from meetups and talks"
			/>
			<Card
				href="/projects"
				title="Projects"
				body="Highlights of projects I've built or worked on"
			/>
			<Card
				href="/about-me"
				title="About me"
				body="Experience, contacts, etc."
			/>
		</ul>
	</main>
</Layout>
