<aside>
   <a href="/">< Home </a> 
</aside>

<style>

aside {
    position: relative;
    top: 1rem;
    left: 2rem;
    margin-bottom: 2rem;
}

a {
    font-size: 1.4rem;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

a:is(:hover, :focus-within) {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

</style>
